# 0. Наибольший общий делитель - 1 балл
Напишите функцию, которая на вход принимает два целых числа, а на выходе отдает их наибольших общий делитель. 

Пример

Ввод 

`lcd(10,2)`

Вывод

`2`

Пример

Ввод 

`lcd(10,25)`

Вывод

`5`

In [ ]:
def lcd(a,b):
    if a<b:
        a,b=b,a
    while a%b!=0:
        r = a%b
        a=r
        if a<b:
            a,b=b,a
    return b
lcd(10,2)

# 1. Задачка про перевод из `camel_case`'a в `snake_case` - 1.5 балла
 Напишите функцию, которая на вход принимает строку, записанную в `CamelCase`, а переводит ее в `snake_case`.
 Подсказка: идите по строке циклом, обрабатывайте каждый символ, если символ заглавный, к обработанным ранее добавляйте нижнее подчеркивание и нынешний переводите в `lower case` 
 
 Пример:

**Вход**: `'camelCaseVar'`

**Выход**: `'camel_сase_var'`

In [ ]:
def snake_casing(a):
    new_string = ''
    b = a[0].lower()+a[1:]
    for i in b:
        if i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
            new_string += ('_' + i.lower())
        else:
            new_string += i 
    return new_string

# 2. Про Поросёнка Петра - 2 балла
На плоскости в точке `(0,0)` стоит Поросёнок Пётр. Он умеет ходить налево, направо, вверх и вниз. Расстояние его прохода в какую-либо сторону измеряется в шагах. Когда он идет вправо, его первая координата увеличивается, когда влево - уменьшается. Когда он идет вверх, его вторая координата увеличивается, а когда вниз - уменьшается.
С клавиатуры считывается число `N` - число ходов, которые сделает Пётр. После чего на каждом шаге спрашивается, сколько шагов и в какую сторону за этот ход Пётр сделает. Так происходит, пока Пётр не осуществит все N ходов.
Программа должна вывести, сколько шагов Пётр должен был бы сделать, чтобы кратчайшим путем прибыть из свое начальной точки `(0,0)` в свою конечную точку. 

Напоминание: Пётр умеет ходить только вверх-вниз, и влево-вправо, но не по диагонали.

Пример ввода:

Введите N: `3`

Ход 1: `Вверх 1`

Ход 2: `Вниз 1`

Ход 3: `Вверх 1`

Пример вывода:
`Пётр находится на расстоянии 1 от (0,0)`

In [ ]:
def petr(N):
    x,y = 0,0
    for i in range(N):
        n = input().split(' ')
        if n[0] == 'Вверх':
            y += int(n[1])
        if n[0] == 'Вниз':
            y -= int(n[1])
        if n[0] == 'Вправо':
            x += int(n[1])
        if n[0] == 'Влево':
            x -= int(n[1])
    return f'Пётр находится на расстоянии {x+y} от (0,0)'

In [ ]:
petr(3)

# 3. Sort the keys of the dictionary from a to z.  - 0.5 балла

In [7]:
d_= {"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}

In [8]:
def sort_dict(d):
    l = []
    for i in d.keys():
        l.append (i)
    return sorted(l)

In [9]:
sort_dict (d_)

['cheesecake', 'chocolate', 'pudding', 'tiramisu']

# 4. Compare three values, return true only if 2 or more values are equal - 0.5 балла

In [10]:
def compare (a,b,c):
    if a==b or b==c or a==c:
        return True

In [12]:
compare (5,6,1)

# 5. Given a list with pairs, sort on the sum of pairs - 0.5 балла

In [25]:
x = [(3,6),(4,7),(5,9),(8,4),(3,1)]

In [26]:
def range_list(x):
    d = {}
    l = []
    for i in x:
        d[i] = sum (i)
        l.append(sum(i))
        l = sorted(l)
    y = []
    for i in l:
        for j in d.keys():
            if d[j] == i:
                y.append(j)
    return y

In [27]:
range_list (x)

[(3, 1), (3, 6), (4, 7), (8, 4), (5, 9)]

# 6. Create a function that takes a list of numbers. Return the largest number in the list. - 0.5 балла

In [ ]:
findLargestNum([4, 5, 1, 3]) ➞ 5

findLargestNum([300, 200, 600, 150]) ➞ 600

findLargestNum([1000, 1001, 857, 1]) ➞ 1001

In [28]:
def findLargestNum(list):
    a = list[0]
    for i in list:
        if i>a:
            a = i
    return a

In [31]:
findLargestNum([1000, 1001, 857, 1])

1001

# 7. Create a function that takes a string and returns the concatenated first and last character. - 0.5 балла

In [ ]:
repetition("ab", 3) ➞ "ababab"

repetition("kiwi", 1) ➞ "kiwi"

repetition("cherry", 2) ➞ "cherrycherry"

In [32]:
def repetition(a, num):
    return a*num

In [34]:
repetition("cherry", 2)

'cherrycherry'

# 8. Create a function that takes a 2D list lst returns the sum of the minimum value in each row. - 0.5 балла

In [ ]:
sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
] ➞ 26

# minimum value of the first row is 1
# minimum value of the second row is 5
# minimum value of the third row is 20

In [35]:
def sum_minimums(list_of_lists):
    sum_total = 0
    for i in list_of_lists:
        min_value = i[0]
        for j in i:
            if j<min_value:
                min_value = j
        sum_total += min_value
    return sum_total

In [36]:
sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
])

26

# 9. Create a function to return the amount of potatoes there are in a string. - 0.5 балла

In [37]:
potatoes("potato") ➞ 1

potatoes("potatopotato") ➞ 2

potatoes("potatoapple") ➞ 1

SyntaxError: invalid character in identifier (1115674703.py, line 1)

In [38]:
def potatoes(a):
    return a.count("potato")

In [41]:
potatoes("potatoapple")

1

# 10. Create a function that takes a list of integers as an argument and returns a unique number from that list. All numbers except unique ones have the same number of occurrences in the list. - 0.5 балла

In [ ]:
find_single_number([2, 2, 2, 3, 4, 4, 4]) ➞ 3

find_single_number([2]) ➞ 2

find_single_number([]) ➞ None

find_single_number([7, 13, 3, 6, 5, 4, 4, 13, 5, 3, 6, 7, 6, 5, 3, 13, 4, 7, 13, 5, 7, 4, 3, 6, 8, 4, 3, 7, 5, 6, 13]) ➞ 8

find_single_number([1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 101, 4, 3, 1, 5, 6, 2]) ➞ 101

In [51]:
def find_single_number(l):
    d = {}
    for i in l:
        if i not in d:
            d[i] = 1
        else:
            d[i] += 1
    for j in d.keys():
        if d[j] == 1:
            return j

In [52]:
find_single_number([7, 13, 3, 6, 5, 4, 4, 13, 5, 3, 6, 7, 6, 5, 3, 13, 4, 7, 13, 5, 7, 4, 3, 6, 8, 4, 3, 7, 5, 6, 13])

8

# 11. Given a letter and a list of words, return whether the letter does not appear in any of the words. - 0.5 балла

In [ ]:
forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False

forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

forbidden_letter("m", []) ➞ True

In [54]:
def forbidden_letter(letter, list_):
    a = 0
    for i in list_:
        if letter in i:
            a += 1
    return not bool(a)

In [57]:
forbidden_letter("m", [])

True

# 12.  Define a function which create a Pattern like this one.  - 2 балла

In [ ]:
Input: 4
Pattern:

 01234
  | |     0
 -----    1
  | |     2
 -----    3
  | |     4

In [24]:
n = 4
for i in range (n+1):
    print (i, end = '')
print()
for i in range (n+1):
    if i%2 == 0:
        for j in range (n+1):
            if j%2 == 0:
                print (' ', end = '')
            else:
                print ('|', end = '')
    else:
        print ('-'*(n+1), end = '')
    print('   ', i)

01234
 | |     0
-----    1
 | |     2
-----    3
 | |     4

# 13. Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.  - 0.5 балла

In [58]:
is_triangle(2, 3, 4) ➞ True

is_triangle(3, 4, 5) ➞ True

is_triangle(4, 3, 8) ➞ False

SyntaxError: invalid character in identifier (1381953870.py, line 1)

In [59]:
def is_triangle(a,b,c):
    if a+b>c and a+c>b and b+c>a:
        return True
    else:
        return False

In [61]:
is_triangle(4, 3, 8)

False

# 14. Create a "Code" Generator that takes text as input and replaces some letter with another letter, and outputs the "encoded" message. Create funcs to encode and decode messages

In [ ]:
replacement = {"a": "b", "b": "a", "y": "t"}

In [76]:
def encode(text):
    new_text = ''
    for i in range(len(text)):
        if text[i] in replacement.keys():
            new_text += replacement[text[i]]
        else:
            new_text += text[i]
    return new_text
def decode(text):
    new_text = ''
    re_replacement = {}
    for i in replacement.keys():
        re_replacement[replacement[i]] = i
    for i in range(len(text)):
        if text[i] in re_replacement.keys():
            new_text += re_replacement[text[i]]
        else:
            new_text += text[i]
    return new_text

In [77]:
encode("abbby")

'baaat'

In [78]:
decode("baaat")

'abbby'